id: secrets_in_env
name: "Sensitive Environment Variables Checker"
target: docker_runtime
severity: HIGH
description: Searches for passwords, tokens or other secrets in environment variables.
match:
  jsonpath: "$.Config.Env[*]"
  regex: "PASSWORD|SECRET|TOKEN|API_KEY|ACCESS_KEY|PRIVATE_KEY|DB_PASSWORD|DB_PASS|DB_USER|AWS_ACCESS_KEY_ID|AWS_SECRET_ACCESS_KEY|GCP_KEY|JWT_SECRET"
include_match_in_description: true
message: "Sensitive variable found in environment"
fix: |
  Remove hardcoded secrets and use secure secret management.